#Top1{
  text-align: center
}

#discordhome{
  text-align: center
}

#Topbuttons{
  text-align: center
}

.topbuttons{
  background-color: White;
  color: Black;
  border-radius: 50px;
}

.discordbuttons{

}

#discobuttons{
text-align: center;
margin: 25px
}

#discobutton2{
  margin: 25px
}

#discobutton3{
  margin: 25px
}